@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-nextjs-scroll-focus-boundary] {
        display: contents;
    }
}

/* * {
    box-sizing: border-box;
} */

[data-nextjs-scroll-focus-boundary] {
    display: contents;
}

body {
    background-image: url("../public/ghibli.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
